<div class="form-wrapper">

<%  if @task.errors.any? %>
    <ul>
    <% @task.errors.full_messages.each do |e|%>
    <li class="error-message">
      <%= e %>
    </li>
    <% end %>
    </ul>
  <% end%>

<%= form_with model: @task, local: true do|f| %>

  <div>
    <span>Title</span>
    <br>
    <%= f.text_field :title, placeholder: 'title' %>
  </div>
  <div>
    <span>Description</span>
    <br>
    <%= f.text_area :description, placeholder: 'description', class: 'text-area' %>
  </div>
  <div>
    <span>Due date</span>
    <br>
    <%= f.datetime_local_field :due_date%>
  </div>
  <div>
    <span>Status</span>
    <%= f.collection_select :status, Task.statuses.keys[0..2], :to_s , :to_s, include_blank: true %>
  </div>
  <div>
    <span>Priority</span>
    <%= f.collection_select :priority, Task.priorities.keys, :to_s , :to_s, include_blank: true %>
  </div>
  <div>
    <span>Project</span>
    <%= f.collection_select :project_id, Project.all, :id, :title %>
  </div>
  <div>
    <span>Assigned to</span>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
  </div>

  <%= f.submit %>

<% end %>
</div>