
<%= form_with model: @task, local: true do|f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'title' %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'description' %>
  </div>
  <div>
    <%= f.label :duration %>
    <%= f.number_field :duration%>
  </div>
  <div>
    <%= f.label :due_date %>
    <%= f.datetime_local_field :due_date%>
  </div>
  <div>
    <%= f.label :status %>
    <% Task.statuses.keys.each do |s| %>
      <%= f.radio_button :status, s %>
      <%= f.label :status, s, :value => s %>
    <% end %>
  </div>
  <div>
    <%= f.label :priority %>
    <% Task.priorities.keys.each do |s| %>
      <%= f.radio_button :priority, s %>
      <%= f.label :priority, s, :value => s %>
    <% end %>
  </div>
  <div>
    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :title %>
  </div>
  <div>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
  </div>

  <%= f.submit %>

<% end %>