<%= form_with model: @task, local: true do|f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'title' %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'description' %>
  </div>
  <div>
    <%= f.label :duration %>
    <%= f.number_field :duration%>
  </div>
  <div>
    <%= f.label :due_date %>
    <%= f.datetime_local_field :due_date%>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.label :status, 'Complete', :value => 1 %>
    <%= f.radio_button :status, 1 %>
    <%= f.label :status, 'In Progress', :value => 2 %>
    <%= f.radio_button :status, 2 %>
    <%= f.label :status, 'On Hold', :value => 3 %>
    <%= f.radio_button :status, 3 %>
    <%= f.label :status, 'Assigned', :value => 4 %>
    <%= f.radio_button :status, 4 %>
    <%= f.label :status, 'Unassigned', :value => 5 %>
    <%= f.radio_button :status, 5 %>
  </div>
  <div>
    <%= f.label :priority %>
    <%= f.label :priority, 'Urgent', :value => 1 %>
    <%= f.radio_button :priority, 1 %>
    <%= f.label :priority, 'High', :value => 2 %>
    <%= f.radio_button :priority, 2 %>
    <%= f.label :priority, 'Medium', :value => 3 %>
    <%= f.radio_button :priority, 3 %>
    <%= f.label :priority, 'Low', :value => 4 %>
    <%= f.radio_button :priority, 4 %>
  </div>
  <div>
    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :title %>
  </div>
  <div>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </div>

  <%= f.submit %>

<% end %>