<div id="index-wrapper">

  <section>
    <h1>All the Tasks</h1>
    <%= link_to 'Make a new task', new_task_path, class: 'new-link' %>

    <div class="projects-wrapper">
    
    <% @tasks.order("priority").each do |task| %>
      
      <article class="project-box">
        
        <div class="title">
        <h3>
        <% if task.user.present? %>
        
        <%= link_to cl_image_tag(task.user.profile_pic, width: 100, height: 100,crop: "fill", class: "user-image small-pic"), user_path(task.user.id), title: "#{task.user.username}" %>
          
        <% end %>

        <%= link_to task.title, task_path(task.id) %></h3> 
        <strong>Project: </strong> <%= link_to task.project.title, project_path(task.project.id) %></p>
        <p><strong>Owner: </strong> <%= link_to task.project.user.username, user_path(task.project.user_id) %></p></div>

        <div class="project-description"><p><%= task.description %></p></div>
        
        <% if @current_user == task.user%>
        <div class="owner-links">
          <%= link_to 'Edit', edit_task_path(task.id), class: "edit-link" %>
          <%= link_to 'Delete', task_path(task.id), method: 'delete', class: "delete-link" %>
        </div>

        <% end%>
        
        <% if task.priority%>
          <div class="priority-wrapper">
            <strong>Priority: </strong>
            <div class="priority <%= task.priority.downcase%>"><%= task.priority %></div>
          </div>
        <% end %>

        <% if task.due_date%>
          <div class="due"> <strong>Due:</strong> <%= ((((task.due_date - Time.now)/60)/60)/24).round 2  %> days</div>
        <% end %>

        <div class="status-wrapper">
          <strong>Status: </strong>
          <div class="status <%= task.status.downcase.gsub(' ','-') %> "><%= task.status %></div>
        </div>

      </article>
    <% end %>



    </div>

  </section>

</div>