<%  if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |e|%>
  <li>
    <%= e %>
  </li>
  <% end %>
  </ul>

<% end%>

<%= form_with model: @user, local: true do |f|  %>
  
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, placeholder: 'first name' %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, placeholder: 'last name' %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: 'username' %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: 'email' %>
  </div>
  <div>
    <%= f.label :profile_pic %>
    <%= f.text_field :profile_pic, placeholder: 'URL to profile pic' %>
  </div>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
  Select some skills: <br>
    <%= f.collection_check_boxes(:skills, Skill.all, :id, :skill_type, include_hidden: false) do |b| %>
      <%= b.check_box(checked: @user.skills.ids.include?(b.value)) %>
      <%= b.label%> 
    <% end %>
  </div>
  <br>
  
  <div>
  or make a new one:
    <%= f.fields_for :skills, Skill.new do |s| %>
      <div>
        <%= s.label :skill_type %>
        <%= s.text_field :skill_type %>
      </div>
    <% end %>
  
  </div>


  <%= f.submit  %>

<% end %>

