<div class="form-wrapper">

  <%  if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |e|%>
    <li class="error-message">
      <%= e %>
    </li>
    <% end %>
    </ul>
  <% end%>
  <%= form_with model: @user, local: true, html: { multipart: true } do |f|  %>
    <div>
      <strong> First name </strong>
      <div>
        <%= f.text_field :first_name, placeholder: 'first name' %>
      </div>
    </div>
    <div>
      <strong> Last name </strong>
      <div>
        <%= f.text_field :last_name, placeholder: 'last name' %>
      </div>
    </div>
    <div>
      <strong> Username </strong>
      <div>
        <%= f.text_field :username, placeholder: 'username' %>
      </div>
    </div>
    <div>
      <strong> Email </strong>
      <div>
        <%= f.text_field :email, placeholder: 'email' %>
      </div>
    </div>
    <div>
      <strong> Profile Picture </strong>
      <div>
        <%= f.file_field :profile_pic%>
      </div>
    </div>
    <div>
      <strong> Password </strong>
      <div>
        <%= f.password_field :password %>
      </div>
    </div>
    <div>
      <strong> Confirm Password </strong>
      <div>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="dropdown" id="skills-dropdown">
      <strong>Select some skills</strong>
      <div class="dropdown-button skill-dropdown-button">Skill List</div>
      <div class="dropdown-menu" id="skill-menu">
        <div class="skill-checkbox-box">
          <%= f.collection_check_boxes(:skills, Skill.order('skill_type'), :id, :skill_type, include_hidden: false) do |b| %>
            <%= b.check_box(checked: @user.skills.ids.include?(b.value)) %>
            <%= b.label%> 
          <% end %>
        </div>
      </div>
    </div>
    <div>
    <strong>Add a new skill</strong>
      <%= f.fields_for :skills, Skill.new do |s| %>
        <div id="fieldset-container">
          <div id="0">
            <%= s.text_field :skill_type, placeholder: "new skill" %>
      <% end %>
          </div>
        </div>
    <div id="add-skill">+ another skill</div>
    </div>
    <% if @current_user.present? %>
    <%= f.submit("Update Profile")  %>
    <% else %>
    <%= f.submit("Create Account")  %>
    <% end %>
  <% end %>
</div>

