<%  if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |e|%>
  <li>
    <%= e %>
  </li>
  <% end %>
  </ul>

<% end%>

<%= form_with model: @user, local: true, html: { multipart: true } do |f|  %>
  
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, placeholder: 'first name' %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, placeholder: 'last name' %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: 'username' %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: 'email' %>
  </div>
  <div>
    <%= f.label :profile_pic %>
    <%= f.file_field :profile_pic%>
  </div>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
  Select some skills: <br>
    <%= f.collection_check_boxes(:skills, Skill.all, :id, :skill_type, include_hidden: false) do |b| %>
      <%= b.check_box(checked: @user.skills.ids.include?(b.value)) %>
      <%= b.label%> 
    <% end %>
  </div>
  <br>
  
  <div>
  Make a new one:
    <%= f.fields_for :skills, Skill.new do |s| %>
      <div id="fieldset-container">
        <fieldset id="0">
          <%= s.text_field :skill_type, placeholder: "new skill" %>
    <% end %>
        </fieldset>
      </div>
        <div id="add-skill">Another one!</div>
  </div>
  <br>
  <%= f.submit  %>
<% end %>
      



