
<%  if @project.errors.any? %>
  <ul>
  <% @project.errors.full_messages.each do |e|%>
  <li>
    <%= e %>
  </li>
  <% end %>
  </ul>

<% end%>

<%=form_with model: @project, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'title' %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: 'description' %>
  </div>
  <div>
    <%= f.label :due_date %>
    <%= f.datetime_local_field :due_date%>
  </div>
  <div>
    <%= f.label :priority %>
    <% Project.priorities.keys.each do |s| %>
      <%= f.radio_button :priority, s %>
      <%= f.label :priority, s, :value => s %>
    <% end %>
  </div>
  <div>
        <%= f.label :user_id %>
        <%= f.collection_select :user_id, User.all, :id, :username %>
  </div>


  <div>
    <h4>Create a new task</h4>
    <%= f.fields_for :tasks, Task.new do |t|  %>
      <div>
        <%= t.label :title %>
        <%= t.text_field :title %>
      </div>
      <div>
        <%= t.label :user_id %>
        <%= t.collection_select :user_id, User.all, :id, :username, include_blank: true %>
      </div>
      <div>
        <%= t.label :description %>
        <%= t.text_area :description %>
      </div>
      <div>
        <%= t.label :due_date %>
        <%= t.datetime_local_field :due_date %>
      </div>
      <div>
        <%= t.label :status %>
        <% Task.statuses.keys.each do |s| %>
          <%= t.radio_button :status, s %>
          <%= t.label :status, s, :value => s %>
        <% end %>
      </div>
      <div>
        <%= t.label :priority %>
        <% Task.priorities.keys.each do |s| %>
          <%= t.radio_button :priority, s %>
          <%= t.label :priority, s, :value => s %>
        <% end %>
      </div>
    <% end %>
  </div>


  <%= f.submit %>



<% end %>