<%=form_with model: @project, local: true do |f| %>
  <div>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: 'title' %>
  </div>
  <div>
  <%= f.label :description %>
  <%= f.text_field :description, placeholder: 'description' %>
  </div>
  <div>
  <%= f.label :due_date %>
  <%= f.datetime_local_field :due_date%>
  </div>
  <div>
    <%= f.label :priority %>
    <%= f.label :priority, 'Urgent', :value => 1 %>
    <%= f.radio_button :priority, 1 %>
    <%= f.label :priority, 'High', :value => 2 %>
    <%= f.radio_button :priority, 2 %>
    <%= f.label :priority, 'Medium', :value => 3 %>
    <%= f.radio_button :priority, 3 %>
    <%= f.label :priority, 'Low', :value => 4 %>
    <%= f.radio_button :priority, 4 %>
  </div>
  <div>
  <%= f.label :user_id %>
  <%= f.collection_check_boxes :user_ids, User.all, :id, :username, include_hidden: false %>
  </div>

  <div>
  <h4>Create a new task</h4>
    <%= f.fields_for :tasks, Task.new do |t|  %>
      <%= t.label :title %>
      <%= t.text_field :title %>
    <% end %>
  </div>


  <%= f.submit %>



<% end %>