<div class="form-wrapper">

  <%  if @project.errors.any? %>
    <ul>
      <% @project.errors.full_messages.each do |e|%>
        <li class="error-message">
          <%= e %>
        </li>
      <% end %>
    </ul>
  <% end%>

  <%= form_with model: @project, local: true do|f| %>
    <div>
      <div>
        <strong>Title</strong>
      </div>
      <%= f.text_field :title, placeholder: 'title' %>
    </div>
    <div>
      <strong>Description</strong>
      <div>
        <%= f.text_area :description, placeholder: 'description', class: 'text-area' %>
      </div>
    </div>
    <div>
      <strong>Due date</strong>
      <div>
        <%= f.datetime_local_field :due_date%>
      </div>
    </div>
    <div>
      <strong>Priority</strong>
      <%= f.collection_select :priority, Task.priorities.keys, :to_s , :to_s, include_blank: true %>
    </div>
    <div>
      <strong>Assigned to</strong>
      <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
    </div>

    <strong>Make a task?</strong>
<%= f.fields_for :tasks, Task.new do |t|  %>
      <div id="fieldset-container">
        <div id="0">
          <div class="dropdown">
            <div class="dropdown-button edit-link">Task</div>
            <div class="dropdown-menu" id="main-nav-menu">
              <div class="new-task-in-project">
                <div>
                  <strong>Title</strong>
                  <div>
                    <%= t.text_field :title, placeholder: 'title' %>
                  </div>
                </div>
                <div>
                  <strong>Description</strong>
                  <div>
                    <%= t.text_area :description, placeholder: 'description', class: 'text-area' %>
                  </div>
                </div>
                <div>
                  <strong>Due date</strong>
                  <div>
                    <%= t.datetime_local_field :due_date%>
                  </div>
                </div>
                <div>
                  <strong>Status</strong>
                  <%= t.collection_select :status, Task.statuses.keys[0..2], :to_s , :to_s, include_blank: true %>
                </div>
                <div>
                  <strong>Priority</strong>
                  <%= t.collection_select :priority, Task.priorities.keys, :to_s , :to_s, include_blank: true %>
                </div>
                <div>
                  <strong>Assigned to</strong>
                  <%= t.collection_select :user_id, User.all, :id, :username, include_blank: true %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
<% end %>
<div id="add-skill" class="">Add another task</div>
    <%= f.submit %>

  <% end %>

</div>









