<div class="page-wrapper">
  
  
  <div class="project-header-container">
    <h1>
    <%= link_to image_tag(@project.user.profile_pic, class: "profile-pic-small"), user_path(@project.user_id) %>
    <%=  link_to @project.title, edit_project_path%> 
    </h1>
    
    
    <% if @project.priority%>
    <div class="priority-wrapper">
      <span>Priority: </span>
      <div class="priority <%= @project.priority.downcase%>"><%= @project.priority %></div>
    </div>
    <% end %>

    <% if @project.due_date%>
      <div class="due">Due: <%= ((((@project.due_date - Time.now)/60)/60)/24).round 2  %> days</div>
    <% end %>

    <% if @percentage_done %>
      <div class="progress">Progress: <%= @percentage_done %>%</div>
    <% end %>

    <div class="project-user-container">
      <% @project.tasks.each do |task| %>
        <% if task.user%>
          <%= link_to image_tag(task.user.profile_pic, class: "profile-pic-small"), user_path(task.user.id), title: "#{task.user.username}" %>
          <% end %>
      <% end %>
    </div>

    <%= link_to 'Delete', project_path, method: "delete", class: "delete-link" %>
  </div>

  <p class="project-description"><%= @project.description %></p>


  <section class="tasks-container">
    <h3>Tasks</h3>
    <ul>
      <% @project.tasks.order("priority").each do |task|%>
        <li>
          <% if task.user%>
            <%= link_to image_tag(task.user.profile_pic, class: "profile-pic-small"), user_path(task.user.id), title: "#{task.user.username}" %>
          <% end %>

          <% if @current_user.present? && task.user_id == @current_user.id %>
            <%= link_to 'EDIT', edit_task_path(task.id) %>
          <% end%>
          
          <%= link_to task.title, task_path(task.id), class: "task-title" %>
          
          <div class="status <%= task.status.downcase.gsub ' ', '-' %>"><%= task.status %></div>

          <% if task.due_date%>
            <div class="task-due">Due: <%= ((((task.due_date - Time.now)/60)/60)/24).round 2  %> days</div>
          <% end%>

          <p class="task-description"><%= task.description %></p>      

          
        </li>
        
      <% end %>
    </ul>

  </section>
</div>




      

