<h1><%= @project.title %></h1>

<%= link_to 'Delete Project', project_path, method: "delete" %>
<%= link_to 'Edit', edit_project_path %>

<p>Users: 
<% @project.users.each do |user| %>
        <%= link_to image_tag(user.profile_pic, class: "profile-pic-small"), user_path(user.id), title: "#{user.username}" %>
      <% end %>
</p>
<p>Description: <%= @project.description %></p>
<p>Due Date: <%= @project.due_date %></p>
<p>Due In: <%= ((((@project.due_date - Time.now)/60)/60)/24).round 2  %> days</p>
<p>Priority: <%= @project.priority %></p>
<p>Progress: <%= @project.progress %>%</p>

<section>
  Tasks
  <ul>
    <% @project.tasks.each do |task|%>
      <li>
        
        <%= link_to task.title, task_path(task.id) %>
        
        <% if task.user%>
          <%= link_to image_tag(task.user.profile_pic, class: "profile-pic-small"), user_path(task.user.id), title: "#{task.user.username}" %>
        <% else%>
          
          <%= button_tag 'unassgned'  %>
        <% end %>
        
        <div class="task-detail">
          <p>Priority: <%= task.priority %>   Status: <%= task.status %>    Est: <%= task.duration %>mins    Due: <%= task.due_date%>    </p>
          <p><%= task.description %></p>
        </div>
      </li>
    <% end %>
  </ul>

</section>
