
<section id="show-project-wrapper">

  <article class="show-project-box">
          
    <div class="title"><h3><%= link_to @project.title, project_path(@project.id), title: "To the project!" %></h3></div>

    <div class="project-description"><p><%= @project.description %></p></div>

    <% if @current_user == @project.user%>
      <div class="owner-links">
        <%= link_to 'Edit', edit_project_path(@project.id), class: "edit-link" %>
        <%= link_to 'Delete', project_path(@project.id), method: 'delete', class: "delete-link" %>
      </div>
    <% end %>

    <div class="project-user-container">
      <% @project.tasks.pluck(:user_id).uniq.compact.each do |user_id|%>
        <% if User.find(user_id).profile_pic.present?%>
          <%= link_to image_tag(User.find(user_id).profile_pic, class: "user-image small-pic"), user_path(user_id), title: "#{User.find(user_id).username}" %>
          <% end %>
      <% end %>
    </div>

    <% if @project.priority%>
      <div class="priority-wrapper">
        <strong>Priority: </strong>
        <div class="priority <%= @project.priority.downcase%>"><%= @project.priority %></div>
      </div>
    <% end %>

    <% if @project.due_date%>
      <div class="due"> <strong>Due:</strong> <%= ((((@project.due_date - Time.now)/60)/60)/24).round 2  %> days</div>
    <% end %>

    <% if @project.tasks.present?%>
      <div class="progress"><p><strong>Progress:</strong> <%= @project.calc_project_completion  %>%</p></div>
    <% end %>

    <div class="owner">
      <p><strong>Owner: </strong> <%= link_to @project.user.username, user_path(@project.user_id) %></p>
    </div>
    
  </article>

  

</section>


      

