
<section id="show-project-wrapper">

  <article class="show-project-box">
          
    <div class="title"><h3><%= link_to @project.title, project_path(@project.id), title: "To the project!" %></h3></div>

    <div class="project-description"><p><%= @project.description %></p></div>

    <% if @current_user == @project.user%>
      <div class="owner-links">
        <%= link_to 'Edit', edit_project_path(@project.id), class: "edit-link" %>
        <%= link_to 'Delete', project_path(@project.id), method: 'delete', class: "delete-link" %>
      </div>
    <% end %>

    <% if @project.priority%>
      <div class="priority-wrapper">
        <strong>Priority: </strong>
        <div class="priority <%= @project.priority.downcase%>"><%= @project.priority %></div>
      </div>
    <% end %>

    <% if @project.due_date%>
      <div class="due"> <strong>Due:</strong> <%= ((((@project.due_date - Time.now)/60)/60)/24).round 2  %> days</div>
    <% end %>

    <% if @project.tasks.present?%>
      <div class="progress"><p><strong>Progress:</strong> <%= @project.calc_project_completion  %>%</p></div>
    <% end %>

    <div class="owner">
      <p><strong>Owner: </strong> <%= link_to @project.user.username, user_path(@project.user_id) %></p>
    </div>
    
  </article>

  <% @project.tasks.order('priority').each do |task|%>

    
        <article class="project-box project-task-box">
        
          <div class="title">
            <h3><%= link_to cl_image_tag(task.user.profile_pic, width: 100, height: 100,crop: "fill", class: "user-image small-pic"), user_path(task.user.id), title: "#{task.user.username}" %> <%= link_to task.title, task_path(task.id) %></h3>
          </div>

          <div class="unassigned-task-info">
          
            <p><strong>Assigned to: </strong> <%= link_to task.user.username, user_path(task.project.user_id) %>
            <% if @current_user == task.user || @current_user == @project.user%>
              <%= link_to 'Edit', edit_task_path(task.id), class: "edit-link" %>
              <%= link_to 'Delete', task_path(task.id), method: 'delete', class: "delete-link" %>
            <% end %>
            
            </p>
          </div>

          <div class="project-description"><p><%= task.description %></p></div>
          
          <% if task.priority%>
            <div class="priority-wrapper">
              <strong>Priority: </strong>
              <div class="priority <%= task.priority.downcase%>"><%= task.priority %></div>
            </div>
          <% end %>

          <% if task.due_date%>
            <div class="due"><strong>Due: </strong><%= ((((task.due_date - Time.now)/60)/60)/24).round 2  %> days</div>
          <% end %>

          <div class="status-wrapper">
            <strong>Status: </strong>
            <div class="status <%= task.status.downcase.gsub(' ','-') %> "><%= task.status %></div>
          </div>
        
        </article>


  <% end %>

</section>


      

